OutlookOnpremSP.json
{
    "properties": {
        "provisioningState": "Succeeded",
        "createdTime": "2022-05-20T08:15:03.7921091Z",
        "changedTime": "2022-05-20T08:15:03.7880987Z",
        "state": "Disabled",
        "version": "08585485723817229633",
        "accessEndpoint": "https://prod-78.westeurope.logic.azure.com:443/workflows/3f042733af54442db6c3ff36d733b58c",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_a_new_event_is_created_(V3)": {
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 3
                    },
                    "evaluatedRecurrence": {
                        "frequency": "Minute",
                        "interval": 3
                    },
                    "splitOn": "@triggerBody()?['value']",
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/datasets/calendars/v3/tables/@{encodeURIComponent(encodeURIComponent('AAMkADgxNWYxZWZmLTQ1ZGMtNGNmMC05MTJkLWRhMDU0M2FjMzk0MgBGAAAAAAD2or6CMxQQR4uB9PHsyv59BwCMeMcavLvjTbjS9S_TAtPkAAAAAAEGAACMeMcavLvjTbjS9S_TAtPkAAAEcHbJAAA='))}/onnewitems"
                    }
                }
            },
            "actions": {
                "Get_user_profile_(V2)": {
                    "runAfter": {
                        "Initialize_variable": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365users']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/codeless/v1.0/users/@{encodeURIComponent(variables('meetingParticipant'))}"
                    }
                },
                "Initialize_variable": {
                    "runAfter": {
                        "MeetingOrganizer": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "AuthorizationHeaderValue",
                                "type": "string"
                            }
                        ]
                    }
                },
                "MeetingOrganizer": {
                    "runAfter": {},
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "meetingParticipant",
                                "type": "string",
                                "value": "@triggerBody()?['organizer']"
                            }
                        ]
                    }
                },
                "UserClaimData": {
                    "runAfter": {
                        "Get_user_profile_(V2)": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "UserCalimData",
                                "type": "string",
                                "value": "i:0#.w|at-work\\@{body('Get_user_profile_(V2)')?['mailNickname']}"
                            }
                        ]
                    }
                },
                "UserObject": {
                    "runAfter": {
                        "UserClaimData": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "UserData",
                                "type": "object",
                                "value": {
                                    "@@odata.type": "#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser",
                                    "Claims": "@{variables('UserCalimData')}"
                                }
                            }
                        ]
                    }
                },
                "is_it_a_Bookado_Event": {
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Get_list_name_for_EUIS_GUID_')?['value']",
                            "actions": {
                                "create_on_premise_list_item": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "End_x0020_Date": "@triggerBody()?['end']",
                                            "Person": "@variables('UserData')",
                                            "Reason": 0,
                                            "Start_x0020_Date": "@triggerBody()?['start']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sharepointonline_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://t32.at.three.com/sites/apps/officecalendartest'))}/tables/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Title']))}/items"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_list_name_for_EUIS_GUID_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_list_name_for_EUIS_GUID_": {
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://dreiaustriagmbh.sharepoint.com/sites/EUIS'))}/tables/@{encodeURIComponent(encodeURIComponent('783d375b-92d0-4f82-9e2f-3c1b2624fa50'))}/items",
                                "queries": {
                                    "$filter": "OrgUnitID eq '@{body('Parse_JSON_2')?['onPremisesExtensionAttributes']?['extensionAttribute1']}'",
                                    "$top": 1
                                }
                            }
                        },
                        "Graph_API_call_for_User_extended_property_": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_user_profile_(V2)')?['userPrincipalName']}?$select=onPremisesExtensionAttributes"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "get_Bearer_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('get_Bearer_Token')",
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "string"
                                        },
                                        "expires_on": {
                                            "type": "string"
                                        },
                                        "ext_expires_in": {
                                            "type": "string"
                                        },
                                        "not_before": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {
                                "Graph_API_call_for_User_extended_property_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Graph_API_call_for_User_extended_property_')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "onPremisesExtensionAttributes": {
                                            "properties": {
                                                "extensionAttribute1": {
                                                    "type": "string"
                                                },
                                                "extensionAttribute2": {
                                                    "type": "string"
                                                },
                                                "extensionAttribute3": {
                                                    "type": "string"
                                                },
                                                "extensionAttribute4": {
                                                    "type": "string"
                                                },
                                                "extensionAttribute5": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "get_Bearer_Token": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "body": "grant_type=client_credentials&client_id=14d9531b-85f5-4210-bf35-01b0a23cc423&resource=https://graph.microsoft.com&client_secret=xyG8Q~KuJ0NHk.Q51UpbFXsQtdnbCxBCsMDk2aXr",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/33e03873-ccfe-4aba-be10-b71d7fda71ba/oauth2/token"
                            }
                        }
                    },
                    "runAfter": {
                        "UserObject": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Terminate": {
                                "runAfter": {},
                                "type": "Terminate",
                                "inputs": {
                                    "runStatus": "Succeeded"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "contains": [
                                    "@triggerBody()?['subject']",
                                    "Bookado"
                                ]
                            }
                        ]
                    },
                    "type": "If"
                }
            },
            "outputs": {}
        },
        "parameters": {
            "$connections": {
                "value": {
                    "office365": {
                        "connectionId": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/resourceGroups/CalendarSyncPOC_group/providers/Microsoft.Web/connections/office365",
                        "connectionName": "office365",
                        "id": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
                    },
                    "office365users": {
                        "connectionId": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/resourceGroups/CalendarSyncPOC_group/providers/Microsoft.Web/connections/office365users",
                        "connectionName": "office365users",
                        "id": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/providers/Microsoft.Web/locations/westeurope/managedApis/office365users"
                    },
                    "sharepointonline": {
                        "connectionId": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/resourceGroups/CalendarSyncPOC_group/providers/Microsoft.Web/connections/sharepointonline-2",
                        "connectionName": "sharepointonline-2",
                        "id": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
                    },
                    "sharepointonline_1": {
                        "connectionId": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/resourceGroups/CalendarSyncPOC_group/providers/Microsoft.Web/connections/sharepointonline-1",
                        "connectionName": "sharepointonline-1",
                        "id": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
                    }
                }
            }
        },
        "endpointsConfiguration": {
            "workflow": {
                "outgoingIpAddresses": [
                    {
                        "address": "40.68.222.65"
                    },
                    {
                        "address": "40.68.209.23"
                    },
                    {
                        "address": "13.95.147.65"
                    },
                    {
                        "address": "23.97.218.130"
                    },
                    {
                        "address": "51.144.182.201"
                    },
                    {
                        "address": "23.97.211.179"
                    },
                    {
                        "address": "104.45.9.52"
                    },
                    {
                        "address": "23.97.210.126"
                    },
                    {
                        "address": "13.69.71.160"
                    },
                    {
                        "address": "13.69.71.161"
                    },
                    {
                        "address": "13.69.71.162"
                    },
                    {
                        "address": "13.69.71.163"
                    },
                    {
                        "address": "13.69.71.164"
                    },
                    {
                        "address": "13.69.71.165"
                    },
                    {
                        "address": "13.69.71.166"
                    },
                    {
                        "address": "13.69.71.167"
                    },
                    {
                        "address": "20.103.21.81"
                    },
                    {
                        "address": "20.103.17.247"
                    },
                    {
                        "address": "20.103.17.223"
                    },
                    {
                        "address": "20.103.16.47"
                    },
                    {
                        "address": "20.103.58.116"
                    },
                    {
                        "address": "20.103.57.29"
                    },
                    {
                        "address": "20.101.174.49"
                    },
                    {
                        "address": "20.101.174.23"
                    },
                    {
                        "address": "20.93.236.26"
                    },
                    {
                        "address": "20.93.235.107"
                    },
                    {
                        "address": "20.103.94.250"
                    },
                    {
                        "address": "20.76.174.72"
                    },
                    {
                        "address": "20.82.87.192"
                    },
                    {
                        "address": "20.82.87.16"
                    },
                    {
                        "address": "20.76.170.145"
                    },
                    {
                        "address": "20.103.91.39"
                    },
                    {
                        "address": "20.103.84.41"
                    },
                    {
                        "address": "20.76.161.156"
                    }
                ],
                "accessEndpointIpAddresses": [
                    {
                        "address": "13.95.155.53"
                    },
                    {
                        "address": "52.174.54.218"
                    },
                    {
                        "address": "52.174.49.6"
                    },
                    {
                        "address": "20.103.21.113"
                    },
                    {
                        "address": "20.103.18.84"
                    },
                    {
                        "address": "20.103.57.210"
                    },
                    {
                        "address": "20.101.174.52"
                    },
                    {
                        "address": "20.93.236.81"
                    },
                    {
                        "address": "20.103.94.255"
                    },
                    {
                        "address": "20.82.87.229"
                    },
                    {
                        "address": "20.76.171.34"
                    },
                    {
                        "address": "20.103.84.61"
                    }
                ]
            },
            "connector": {
                "outgoingIpAddresses": [
                    {
                        "address": "52.174.88.118"
                    },
                    {
                        "address": "40.91.208.65"
                    },
                    {
                        "address": "13.69.64.208/28"
                    },
                    {
                        "address": "13.69.71.192/27"
                    },
                    {
                        "address": "13.93.36.78"
                    },
                    {
                        "address": "20.86.93.32/27"
                    },
                    {
                        "address": "20.86.93.64/28"
                    },
                    {
                        "address": "20.126.243.151"
                    },
                    {
                        "address": "20.126.241.238"
                    },
                    {
                        "address": "20.103.132.139"
                    },
                    {
                        "address": "20.103.131.1"
                    }
                ]
            }
        }
    },
    "id": "/subscriptions/33827306-30af-4679-937c-44bf3aff7175/resourceGroups/CalendarSyncPOC_group/providers/Microsoft.Logic/workflows/H3ASaaSBookadoCalendarSyncTest",
    "name": "H3ASaaSBookadoCalendarSyncTest",
    "type": "Microsoft.Logic/workflows",
    "location": "westeurope",
    "tags": {
        "Teams": "Dots"
    }
}
